In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [25]:
from collections import defaultdict

In [2]:
df = pd.read_csv("ach_rule_draft-query_6-e0a50036fa32-2023-09-15-06-22-23.csv")

In [3]:
!ls

ach_rule_draft-query_6-e0a50036fa32-2023-09-15-06-22-23 (1).csv
ach_rule_draft-query_6-e0a50036fa32-2023-09-15-06-22-23.csv
archive.zip
credit_risk_analysis.ipynb
creditcard.csv
risk_data_exploration.ipynb

In [4]:
df.columns

Index(['DAVE_USER_ID', 'USER_CREATION_DATE', 'FRAUD',
       'DAVE_ACCOUNT_DELETED_DATE', 'FRAUD_ACH_RETURN', 'SPEND_CREATED_DATE',
       'GOAL_CREATED_DATE', 'EARLIEST_BOD_DATE',
       'DAYS_ACH_INITIATED_ACCOUNT_CREATION', 'ACCOUNT_TYPE',
       'ACH_RETURN_AMOUNT', 'ACH_TRANSFER_INITIATED',
       'ACH_TRANSFER_RETURNED_AT', 'ACH_TRANSFER_RETURN_CODE',
       'EXTERNAL_BANK_ACCOUNT', 'BAD_ACTOR', 'KYC_RUN_DATE',
       'KYC_SOCURE_DECISION', 'DOCV_SOCURE_DECISION', 'R208', 'I566', 'I625',
       'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559', 'R604', 'R608',
       'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658', 'R551', 'R660',
       'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207', 'R618', 'R616',
       'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650', 'R646', 'R633',
       'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408', 'R209', 'I127',
       'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912', 'R919', 'R721',
       'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644', 'R622', 'R567',
       'R113', 'R005', 'I920', 'I907', 'NAMEEMAILCORRELATION_SCORE_V2',
       'EMAILRISK_SCORE_V2', 'NAMEPHONECORRELATION_SCORE_V2',
       'ADDRESSRISK_SCORE_V2', 'PHONERISK_SCORE_V2'],
      dtype='object')

In [5]:
df.describe()

,DAVE_USER_ID,DAYS_ACH_INITIATED_ACCOUNT_CREATION,ACH_RETURN_AMOUNT,R208,I566,I625,R662,R655,I428,R606,...,R567,R113,R005,I920,I907,NAMEEMAILCORRELATION_SCORE_V2,EMAILRISK_SCORE_V2,NAMEPHONECORRELATION_SCORE_V2,ADDRESSRISK_SCORE_V2,PHONERISK_SCORE_V2
count,2.330000e+02,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,...,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000,233.000000
mean,1.746109e+07,23.296137,335.394850,0.905579,0.866953,0.673820,0.463519,0.450644,0.197425,0.321888,...,0.008584,0.008584,0.004292,0.004292,0.004292,0.627811,0.553876,0.567983,0.587970,0.726262
std,8.057992e+05,39.404652,286.536238,0.293043,0.340357,0.469823,0.499741,0.498629,0.398913,0.468206,...,0.092448,0.092448,0.065512,0.065512,0.065512,0.350256,0.312712,0.356790,0.290876,0.216733
min,1.608016e+07,0.000000,125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.001000,0.010000,0.001000,0.048000
25%,1.678826e+07,0.000000,200.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.490000,0.304000,0.490000,0.314000,0.596000
50%,1.743664e+07,3.000000,200.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.660000,0.610000,0.490000,0.662000,0.810000
75%,1.817579e+07,30.000000,200.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.990000,0.859000,0.980000,0.799000,0.906000
max,1.865924e+07,205.000000,1000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.990000,0.969000,0.990000,0.998000,0.975000

In [7]:
df.shape

(233, 94)

In [8]:
df.groupby(['FRAUD']).agg({'DAVE_USER_ID':'count'})

       DAVE_USER_ID
FRAUD
False            99
True            134

In [24]:
df.dtypes.index

Index(['DAVE_USER_ID', 'USER_CREATION_DATE', 'FRAUD',
       'DAVE_ACCOUNT_DELETED_DATE', 'FRAUD_ACH_RETURN', 'SPEND_CREATED_DATE',
       'GOAL_CREATED_DATE', 'EARLIEST_BOD_DATE',
       'DAYS_ACH_INITIATED_ACCOUNT_CREATION', 'ACCOUNT_TYPE',
       'ACH_RETURN_AMOUNT', 'ACH_TRANSFER_INITIATED',
       'ACH_TRANSFER_RETURNED_AT', 'ACH_TRANSFER_RETURN_CODE',
       'EXTERNAL_BANK_ACCOUNT', 'BAD_ACTOR', 'KYC_RUN_DATE',
       'KYC_SOCURE_DECISION', 'DOCV_SOCURE_DECISION', 'R208', 'I566', 'I625',
       'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559', 'R604', 'R608',
       'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658', 'R551', 'R660',
       'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207', 'R618', 'R616',
       'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650', 'R646', 'R633',
       'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408', 'R209', 'I127',
       'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912', 'R919', 'R721',
       'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644', 'R622', 'R567',
       'R113', 'R005', 'I920', 'I907', 'NAMEEMAILCORRELATION_SCORE_V2',
       'EMAILRISK_SCORE_V2', 'NAMEPHONECORRELATION_SCORE_V2',
       'ADDRESSRISK_SCORE_V2', 'PHONERISK_SCORE_V2'],
      dtype='object')

In [16]:
df.dtypes['EMAILRISK_SCORE_V2'] == 'float64'

True

In [35]:
a = df.dtypes['EMAILRISK_SCORE_V2']

In [36]:
print(a)

float64

In [93]:
def columns_type(x):
    return_types = defaultdict(list)
    columns = df.columns
    index = df.dtypes.index
    for item in index:
        tmp = df.dtypes[item]
        #print(tmp)
        return_types[str(tmp)].append(item)
    return return_types

In [40]:
dftypes = columns_type(df)

In [41]:
for key in dftypes:
    print(key)
    print(dftypes[key])

int64
['DAVE_USER_ID', 'DAYS_ACH_INITIATED_ACCOUNT_CREATION', 'R208', 'I566', 'I625', 'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559', 'R604', 'R608', 'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658', 'R551', 'R660', 'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207', 'R618', 'R616', 'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650', 'R646', 'R633', 'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408', 'R209', 'I127', 'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912', 'R919', 'R721', 'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644', 'R622', 'R567', 'R113', 'R005', 'I920', 'I907']
object
['USER_CREATION_DATE', 'DAVE_ACCOUNT_DELETED_DATE', 'SPEND_CREATED_DATE', 'GOAL_CREATED_DATE', 'EARLIEST_BOD_DATE', 'ACCOUNT_TYPE', 'ACH_TRANSFER_INITIATED', 'ACH_TRANSFER_RETURNED_AT', 'ACH_TRANSFER_RETURN_CODE', 'EXTERNAL_BANK_ACCOUNT', 'KYC_RUN_DATE', 'KYC_SOCURE_DECISION', 'DOCV_SOCURE_DECISION']
bool
['FRAUD', 'FRAUD_ACH_RETURN', 'BAD_ACTOR']
float64
['ACH_RETURN_AMOUNT', 'NAMEEMAILCORRELATION_SCORE_V2', 'EMAILRISK_SCORE_V2', 'NAMEPHONECORRELATION_SCORE_V2', 'ADDRESSRISK_SCORE_V2', 'PHONERISK_SCORE_V2']

In [42]:
columns_int = dftypes['int64']
columns_float = dftypes['float64']
columns_bool = dftypes['bool']

In [44]:
columns_int.remove('DAVE_USER_ID')

In [45]:
dfgroup = df.groupby(['FRAUD'])

In [62]:
true_fraud

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0])

In [61]:
true_fraud = df.loc[df['FRAUD'], ['R208']]['R208'].values
false_fraud = df.loc[~df['FRAUD'], ['R208']]['R208'].values

In [65]:
from scipy.stats import kstest

def ks_compare(df, columns_candidate):
    status_result = {}
    for item in columns_candidate:
        true_fraud = df.loc[df['FRAUD'], [item]][item].values
        false_fraud = df.loc[~df['FRAUD'], [item]][item].values
        mean_diff = np.mean(true_fraud) - np.mean(false_fraud)
        stat, p_value = kstest(true_fraud, false_fraud)
        status_result[item] = [mean_diff, stat, p_value]
    return status_result

In [66]:
stat_int = ks_compare(df, columns_int)

In [67]:
stat_int['R208']

[0.04658525554047943, 0.046585255540479424, 0.998841996833193]

In [69]:
stat_int_sorted = sorted(stat_int.items(), key=lambda x: x[1][0])

In [71]:
stat_int_sorted

[('DAYS_ACH_INITIATED_ACCOUNT_CREATION',
  [-7.985903814262024, 0.08344640434192672, 0.7817110585504816]),
 ('R559', [-0.1256595808834615, 0.1256595808834615, 0.2973668915867947]),
 ('I428', [-0.11337253128297908, 0.11337253128297904, 0.4174390407749403]),
 ('R633', [-0.10191466907884819, 0.10191466907884818, 0.5507524562916993]),
 ('R660', [-0.08261721694557515, 0.08261721694557515, 0.7920935763326052]),
 ('R655', [-0.059475350520126646, 0.05947535052012664, 0.9775789098376988]),
 ('R662', [-0.05465098748680841, 0.05465098748680838, 0.9905515423165004]),
 ('R551', [-0.050957334539424096, 0.05095733453942409, 0.9959832341833564]),
 ('I625', [-0.04025327905924925, 0.040253279059249206, 0.999913403480628]),
 ('R607', [-0.028569274837931563, 0.028569274837931553, 0.9999999947235281]),
 ('R571', [-0.02464947987336047, 0.02464947987336047, 0.9999999999900467]),
 ('R631', [-0.02065430423639379, 0.02065430423639379, 0.9999999999999998]),
 ('R980', [-0.020202020202020204, 0.020202020202020204, 0.9999999999999998]),
 ('R572', [-0.019372832805668636, 0.019372832805668625, 1.0]),
 ('R605', [-0.016282225237449127, 0.016282225237449117, 1.0]),
 ('R410', [-0.015377657168701946, 0.015377657168701944, 1.0]),
 ('R654', [-0.015377657168701946, 0.015377657168701944, 1.0]),
 ('R211', [-0.013191617669229612, 0.01319161766922961, 1.0]),
 ('R650', [-0.013191617669229612, 0.01319161766922961, 1.0]),
 ('R569', [-0.013191617669229612, 0.01319161766922961, 1.0]),
 ('R408', [-0.012739333634856024, 0.012739333634856022, 1.0]),
 ('R601', [-0.011005578169757273, 0.011005578169757274, 1.0]),
 ('R721', [-0.010101010101010102, 0.010101010101010102, 1.0]),
 ('R656', [-0.010101010101010102, 0.010101010101010102, 1.0]),
 ('R005', [-0.010101010101010102, 0.010101010101010102, 1.0]),
 ('I920', [-0.010101010101010102, 0.010101010101010102, 1.0]),
 ('R568', [-0.008367254635911356, 0.008367254635911352, 1.0]),
 ('I402', [-0.007914970601537768, 0.007914970601537766, 1.0]),
 ('R623', [-0.007914970601537768, 0.007914970601537766, 1.0]),
 ('R574', [-0.005276647067691846, 0.005276647067691844, 1.0]),
 ('R702', [-0.005276647067691846, 0.005276647067691844, 1.0]),
 ('R632', [-0.002638323533845923, 0.002638323533845922, 1.0]),
 ('R701', [-0.002638323533845923, 0.002638323533845922, 1.0]),
 ('R113', [-0.002638323533845923, 0.002638323533845922, 1.0]),
 ('R658', [-0.0013568521031207675, 0.0013568521031207597, 1.0]),
 ('R616', [0.00037690336197798713, 0.00037690336197798886, 1.0]),
 ('R618', [0.0017337554650987477, 0.0017337554650987486, 1.0]),
 ('I414', [0.0021860394994723323, 0.0021860394994723353, 1.0]),
 ('R409', [0.0021860394994723323, 0.0021860394994723353, 1.0]),
 ('R209', [0.0043720789989446646, 0.004372078998944671, 1.0]),
 ('I127', [0.0043720789989446646, 0.004372078998944671, 1.0]),
 ('I907', [0.007462686567164179, 0.007462686567164179, 1.0]),
 ('R720', [0.009196442032262928, 0.009196442032262928, 1.0]),
 ('R622', [0.012287049600482434, 0.012287049600482436, 1.0]),
 ('R210', [0.014473089099954768, 0.014473089099954772, 1.0]),
 ('R217', [0.014473089099954768, 0.014473089099954772, 1.0]),
 ('I912', [0.014473089099954768, 0.014473089099954772, 1.0]),
 ('R661', [0.014925373134328358, 0.014925373134328358, 1.0]),
 ('R644', [0.014925373134328358, 0.014925373134328358, 1.0]),
 ('R567', [0.014925373134328358, 0.014925373134328358, 1.0]),
 ('R573', [0.016659128599427107, 0.016659128599427107, 1.0]),
 ('R919', [0.021935775667118948, 0.02193577566711895, 0.9999999999999857]),
 ('R705', [0.021935775667118948, 0.02193577566711895, 0.9999999999999857]),
 ('R944', [0.029398462234283128, 0.02939846223428313, 0.9999999844779824]),
 ('R566', [0.031132217699381876, 0.03113221769938188, 0.9999998869375145]),
 ('R659', [0.03671038745665611, 0.03671038745665611, 0.9999884475076665]),
 ('R646', [0.03904718830091964, 0.03904718830091965, 0.9999533872178871]),
 ('R208', [0.04658525554047943, 0.046585255540479424, 0.998841996833193]),
 ('R606', [0.0503542891602593, 0.05035428916025931, 0.9965462594475936]),
 ('R207', [0.05834464043419266, 0.05834464043419267, 0.9815361007605212]),
 ('R604', [0.06663651439770843, 0.06663651439770843, 0.9419566687701506]),
 ('R402', [0.06671189507010403, 0.06671189507010403, 0.9414032736175321]),
 ('I566', [0.06723955977687324, 0.06723955977687321, 0.9380733264859309]),
 ('R561', [0.07281772953414745, 0.07281772953414745, 0.8941188170042917]),
 ('R642', [0.0912859942710689, 0.0912859942710689, 0.6845388188180921]),
 ('R619', [0.0912859942710689, 0.0912859942710689, 0.6845388188180921]),
 ('R608', [0.09430122116689282, 0.09430122116689281, 0.6461895846238831]),
 ('R657', [0.09874868083823307, 0.09874868083823307, 0.5894960117512342]),
 ('R610', [0.13726820443238352, 0.13726820443238355, 0.20804547431715517]),
 ('R006', [0.14390170360319618, 0.14390170360319615, 0.1669907807036106]),
 ('R653', [0.16108849690939242, 0.16108849690939242, 0.09030461771891948])]

In [72]:
# build a tree model
df.columns

Index(['DAVE_USER_ID', 'USER_CREATION_DATE', 'FRAUD',
       'DAVE_ACCOUNT_DELETED_DATE', 'FRAUD_ACH_RETURN', 'SPEND_CREATED_DATE',
       'GOAL_CREATED_DATE', 'EARLIEST_BOD_DATE',
       'DAYS_ACH_INITIATED_ACCOUNT_CREATION', 'ACCOUNT_TYPE',
       'ACH_RETURN_AMOUNT', 'ACH_TRANSFER_INITIATED',
       'ACH_TRANSFER_RETURNED_AT', 'ACH_TRANSFER_RETURN_CODE',
       'EXTERNAL_BANK_ACCOUNT', 'BAD_ACTOR', 'KYC_RUN_DATE',
       'KYC_SOCURE_DECISION', 'DOCV_SOCURE_DECISION', 'R208', 'I566', 'I625',
       'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559', 'R604', 'R608',
       'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658', 'R551', 'R660',
       'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207', 'R618', 'R616',
       'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650', 'R646', 'R633',
       'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408', 'R209', 'I127',
       'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912', 'R919', 'R721',
       'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644', 'R622', 'R567',
       'R113', 'R005', 'I920', 'I907', 'NAMEEMAILCORRELATION_SCORE_V2',
       'EMAILRISK_SCORE_V2', 'NAMEPHONECORRELATION_SCORE_V2',
       'ADDRESSRISK_SCORE_V2', 'PHONERISK_SCORE_V2'],
      dtype='object')

In [74]:
dfupdate = df.drop(['DAVE_USER_ID'], axis=1)

In [77]:
dfupdate.head(3)

,USER_CREATION_DATE,FRAUD,DAVE_ACCOUNT_DELETED_DATE,FRAUD_ACH_RETURN,SPEND_CREATED_DATE,GOAL_CREATED_DATE,EARLIEST_BOD_DATE,DAYS_ACH_INITIATED_ACCOUNT_CREATION,ACCOUNT_TYPE,ACH_RETURN_AMOUNT,...,R567,R113,R005,I920,I907,NAMEEMAILCORRELATION_SCORE_V2,EMAILRISK_SCORE_V2,NAMEPHONECORRELATION_SCORE_V2,ADDRESSRISK_SCORE_V2,PHONERISK_SCORE_V2
0,2023-01-01 21:52:29,True,2023-01-25 18:47:36,True,2023-01-01 22:00:34,NaN,2023-01-01 22:00:34,10,Checking Account,200.0,...,0,0,0,0,0,0.99,0.321,0.86,0.030,0.260
1,2023-01-03 16:26:10,True,2023-08-10 18:13:50,True,2023-01-03 16:38:33,NaN,2023-01-03 16:38:33,115,Checking Account,200.0,...,0,0,0,0,0,0.99,0.311,0.98,0.644,0.728
2,2023-01-04 00:39:23,False,9999-12-31 23:59:59,True,2023-01-04 00:45:02,NaN,2023-01-04 00:45:02,30,Checking Account,125.0,...,0,0,0,0,0,0.49,0.861,0.98,0.083,0.347

In [85]:
y = dfupdate['FRAUD']
X = dfupdate.loc[:, [ 'FRAUD_ACH_RETURN', 
       'DAYS_ACH_INITIATED_ACCOUNT_CREATION', 'ACCOUNT_TYPE',
       'ACH_RETURN_AMOUNT',  'ACH_TRANSFER_RETURN_CODE',
       'EXTERNAL_BANK_ACCOUNT', 'BAD_ACTOR', 
       'KYC_SOCURE_DECISION',  'R208', 'I566', 'I625',
       'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559', 'R604', 'R608',
       'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658', 'R551', 'R660',
       'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207', 'R618', 'R616',
       'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650', 'R646', 'R633',
       'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408', 'R209', 'I127',
       'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912', 'R919', 'R721',
       'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644', 'R622', 'R567',
       'R113', 'R005', 'I920', 'I907', 'NAMEEMAILCORRELATION_SCORE_V2',
       'EMAILRISK_SCORE_V2', 'NAMEPHONECORRELATION_SCORE_V2',
       'ADDRESSRISK_SCORE_V2', 'PHONERISK_SCORE_V2']]

In [86]:
X.head(3)

,FRAUD_ACH_RETURN,DAYS_ACH_INITIATED_ACCOUNT_CREATION,ACCOUNT_TYPE,ACH_RETURN_AMOUNT,ACH_TRANSFER_RETURN_CODE,EXTERNAL_BANK_ACCOUNT,BAD_ACTOR,KYC_SOCURE_DECISION,R208,I566,...,R567,R113,R005,I920,I907,NAMEEMAILCORRELATION_SCORE_V2,EMAILRISK_SCORE_V2,NAMEPHONECORRELATION_SCORE_V2,ADDRESSRISK_SCORE_V2,PHONERISK_SCORE_V2
0,True,10,Checking Account,200.0,R10,Regions Bank,True,accept,1,1,...,0,0,0,0,0,0.99,0.321,0.86,0.030,0.260
1,True,115,Checking Account,200.0,R10,Chase,True,accept,1,1,...,0,0,0,0,0,0.99,0.311,0.98,0.644,0.728
2,True,30,Checking Account,125.0,R10,Chase,False,accept,1,1,...,0,0,0,0,0,0.49,0.861,0.98,0.083,0.347

In [84]:
X['ACCOUNT_TYPE'].nunique()

2

In [89]:
y

0       True
1       True
2      False
3       True
4      False
       ...
228    False
229    False
230    False
231     True
232    False
Name: FRAUD, Length: 233, dtype: bool

In [88]:
X.columns

Index(['FRAUD_ACH_RETURN', 'DAYS_ACH_INITIATED_ACCOUNT_CREATION',
       'ACCOUNT_TYPE', 'ACH_RETURN_AMOUNT', 'ACH_TRANSFER_RETURN_CODE',
       'EXTERNAL_BANK_ACCOUNT', 'BAD_ACTOR', 'KYC_SOCURE_DECISION', 'R208',
       'I566', 'I625', 'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559',
       'R604', 'R608', 'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658',
       'R551', 'R660', 'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207',
       'R618', 'R616', 'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650',
       'R646', 'R633', 'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408',
       'R209', 'I127', 'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912',
       'R919', 'R721', 'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644',
       'R622', 'R567', 'R113', 'R005', 'I920', 'I907',
       'NAMEEMAILCORRELATION_SCORE_V2', 'EMAILRISK_SCORE_V2',
       'NAMEPHONECORRELATION_SCORE_V2', 'ADDRESSRISK_SCORE_V2',
       'PHONERISK_SCORE_V2'],
      dtype='object')

In [94]:
cols = columns_type(X)

In [95]:
for key in cols:
    print(key)
    print(dftypes[key])

int64
['DAYS_ACH_INITIATED_ACCOUNT_CREATION', 'R208', 'I566', 'I625', 'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559', 'R604', 'R608', 'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658', 'R551', 'R660', 'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207', 'R618', 'R616', 'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650', 'R646', 'R633', 'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408', 'R209', 'I127', 'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912', 'R919', 'R721', 'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644', 'R622', 'R567', 'R113', 'R005', 'I920', 'I907']
object
['USER_CREATION_DATE', 'DAVE_ACCOUNT_DELETED_DATE', 'SPEND_CREATED_DATE', 'GOAL_CREATED_DATE', 'EARLIEST_BOD_DATE', 'ACCOUNT_TYPE', 'ACH_TRANSFER_INITIATED', 'ACH_TRANSFER_RETURNED_AT', 'ACH_TRANSFER_RETURN_CODE', 'EXTERNAL_BANK_ACCOUNT', 'KYC_RUN_DATE', 'KYC_SOCURE_DECISION', 'DOCV_SOCURE_DECISION']
bool
['FRAUD', 'FRAUD_ACH_RETURN', 'BAD_ACTOR']
float64
['ACH_RETURN_AMOUNT', 'NAMEEMAILCORRELATION_SCORE_V2', 'EMAILRISK_SCORE_V2', 'NAMEPHONECORRELATION_SCORE_V2', 'ADDRESSRISK_SCORE_V2', 'PHONERISK_SCORE_V2']

In [107]:
cat_attributes = ['FRAUD_ACH_RETURN','ACCOUNT_TYPE','ACH_TRANSFER_RETURN_CODE','EXTERNAL_BANK_ACCOUNT','BAD_ACTOR','KYC_SOCURE_DECISION']
num_attributes = ['DAYS_ACH_INITIATED_ACCOUNT_CREATION','R208',
       'I566', 'I625', 'R662', 'R655', 'I428', 'R606', 'R659', 'R610', 'R559',
       'R604', 'R608', 'R571', 'R006', 'R572', 'R653', 'R561', 'R402', 'R658',
       'R551', 'R660', 'R605', 'R657', 'R601', 'R642', 'R619', 'R566', 'R207',
       'R618', 'R616', 'R211', 'R607', 'R210', 'I414', 'I402', 'R720', 'R650',
       'R646', 'R633', 'R410', 'R409', 'R944', 'R631', 'R623', 'R574', 'R408',
       'R209', 'I127', 'R980', 'R632', 'R573', 'R569', 'R568', 'R217', 'I912',
       'R919', 'R721', 'R705', 'R702', 'R701', 'R661', 'R656', 'R654', 'R644',
       'R622', 'R567', 'R113', 'R005', 'I920', 'I907']

In [102]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [122]:
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="median")), 
    ('std_scaler', StandardScaler())]
)

In [123]:
full_pipeline = ColumnTransformer([
    ("num", num_pipeline, num_attributes),
    ("cat", OneHotEncoder(), cat_attributes),
])

In [117]:
x_num = X.loc[:, num_attributes]

In [120]:
x_num_update = num_pipeline.fit_transform(x_num)

In [124]:
Xupdate = full_pipeline.fit_transform(X)

In [125]:
Xupdate

array([[-0.338152  ,  0.32290154,  0.39174653, ...,  1.        ,
         1.        ,  0.        ],
       [ 2.33224464,  0.32290154,  0.39174653, ...,  1.        ,
         1.        ,  0.        ],
       [ 0.17049497,  0.32290154,  0.39174653, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-0.59247549,  0.32290154,  0.39174653, ...,  0.        ,
         1.        ,  0.        ],
       [-0.56704315, -3.09691929, -2.55267096, ...,  1.        ,
         1.        ,  0.        ],
       [-0.56704315,  0.32290154, -2.55267096, ...,  0.        ,
         1.        ,  0.        ]])

In [126]:
Xupdate.shape

(233, 151)

In [127]:
y.shape

(233,)

In [135]:
def split_train_test(x_value, y_value, test_ratio):
    shuffled_indices = np.random.permutation(len(x_value))
    test_set_size = int(len(x_value) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return x_value[train_indices,:], y_value[train_indices] , x_value[test_indices,:], y_value[test_indices]

In [136]:
train_x, train_y, test_x, test_y = split_train_test(Xupdate, y, 0.2)

In [137]:
train_x.shape

(187, 151)

In [139]:
from sklearn.ensemble import RandomForestClassifier

In [140]:
forest_reg = RandomForestClassifier(random_state=42)

In [141]:
forest_reg.fit(train_x, train_y)

RandomForestClassifier(random_state=42)

In [144]:
y_predict = forest_reg.predict(test_x)

In [146]:
from sklearn.metrics import confusion_matrix

In [148]:
confusion_matrix(test_y, y_predict)

array([[16,  3],
       [ 0, 27]])

In [149]:
from sklearn.metrics import precision_score, recall_score

In [150]:
recall_score(test_y, y_predict)

1.0

In [151]:
precision_score(test_y, y_predict)

0.9

In [154]:
!pwd

/Users/yanchunyang/Documents/yyc/learning/datasets_kaggle